/audacious
/autostart
/BraveSoftware
/btop/btop.log
/chromium
/coc
/cmus
/dconf
/expressvpn
/fontconfig
/GIMP
/google-chrome
/gtk-2.0
/gtk-3.0
/htop
/hypr/*.png
/ibus
/keepassx
/keepassxc
/knfsshare
/leafpad
/libreoffice
/menus
/modorganizer2
/Mousepad
/mps-youtube
/mutt
/neomutt
/openbox
/Postman
/pragha
/pulse
/ranger/history
/ranger/bookmarks
/ranger/tagged
/ristretto
/session
/ssh
/steamtinkerlaunch
/swaylock/*.svg
/Thunar
/tmux/plugins
/tmux/resurrect
/totem
/transmission
/vlc
/wal
/xfce4
/XfceThemeManager
/yarn
/YaST2
drkonqirc
kdeglobals
kdenlive-layoutsrc
kdenliverc
knsshare
mimeapps.list
pavucontrol.ini
INBOX.Sent
INBOX.Trash
QtProject.conf
Trolltech.conf
user-dirs.dirs
user-dirs.locale
yad.conf
