* {
    border:        none;
    border-radius: 0;
    font-family:   "FantasqueSansM Nerd Font", "FontAwesome 6 Free";
    font-size:     12px;
    font-weight:   bold;
    box-shadow:    none;
    text-shadow:   none;
    transition-duration: 0s;
}

window#waybar {
    color: rgba(248, 248, 242, 0.5);
    background-color: rgba(40, 42, 54, 0); /* bg */
    font-weight: 500;
}

window#waybar.solo {
    color: rgba(248, 248, 242, 0.5); /* fg */
}

#workspaces {
    margin: 0 5px;
    padding: 0 12px;
    border: 2px solid rgba(248, 248, 242, 0.1);
    border-radius: 12px;
}

#custom-scratchpad {
    margin: 0px	5px;
    padding: 0px 5px;
}

#workspaces button {
    padding: 0 5px;
    color: rgba(189, 147, 249, 1); /* purple */
}

#workspaces button:hover {
    background-color: transparent;
}

#workspaces button.focused {
    color: rgba(255, 121, 198, 1); /* pink */
}

#workspaces button.visible {
    color: rgba(139, 233, 253, 1); /* cyan */
}

#workspaces button.urgent {
    color: rgba(255, 121, 198, 1); /* pink */
}

#workspaces button.active {
    color: rgba(255, 121, 198, 1); /* pink */
}

#window {
  padding: 0 12px;
  border: 2px solid rgba(248, 248, 242, 0.1);
  border-radius: 12px;
  color: rgba(80, 250, 123, 0.6); /* green */
}

window#waybar.empty #window {
  border: none;
}

.modules-right {
  padding: 0 12px;
  border: 2px solid rgba(248, 248, 242, 0.1);
  border-radius: 12px;
}

#mode, 
#cpu, 
#memory, 
#network, 
#bluetooth,
#pulseaudio, 
#idle_inhibitor, 
#temperature,
#custom-layout,
#custom-notification,
#custom-zypper,
#clock {
    padding: 0px 8px;
}

#custom-zypper,
#network,
#bluetooth {
    color: rgba(189, 147, 249, 0.8); /* purple */
}

#bluetooth.disabled {
    color: rgba(128, 128, 128, 1);
}

#bluetooth.off {
    color: rgba(128, 128, 128, 1);
}

#bluetooth.connected {
    color: rgba(115, 186, 37, 1);
}

#cpu, 
#memory {
    color: rgba(139, 233, 253, 0.8); /* cyan */
} 

#temperature {
    color: rgba(255, 184, 108, 0.8); /* orange */
}

#pulseaudio {
    padding-right: 16px;
    color: rgba(255, 121, 198, 0.8); /* pink */
}

#clock {
    padding: 0px 8px;
    color: rgba(241, 250, 140, 0.8); /* yellow */
}

#custom-notification {
    padding-right: 4px;
    color: rgba(255, 110, 110, 0.8); /* red */
}
